<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Plotter</title>
</head>
<body>
<center>Clients and plots</center>
<br/>
 Date : 2017-03-30 12:42     Client : f9f25f52e6244805a4c89e7c2cce7195 had sent an equation resulting the derive -&gt; 2 x and plot
<img src="static/f9f25f52e6244805a4c89e7c2cce71951490866947.9291334.png"/><br/>
 Date : 2017-03-30 12:43     Client : f5dd72e3f6e94af8bde5bf1bf78ec4b6 had sent an equation resulting the derive -&gt; 1 and plot
<img src="static/f5dd72e3f6e94af8bde5bf1bf78ec4b61490866991.6101315.png"/><br/>
</body>
</html>